<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Know Your Nation </h1>
    <input type="text" id="inputText" placeholder="Eg. Belgium">
    <button onclick="redirectToFlask()">Go</button>

    <script>
        function redirectToFlask() {
            var inputValue = document.getElementById("inputText").value.trim().toLowerCase();
            if (inputValue !== "") {
                window.location.href = "http://127.0.0.1:5003/" + encodeURIComponent(inputValue);
            } else {
                alert("Please enter a value.");
            }
        }
    </script>
</body>
</html>